<div class="jumbotron">
    <div class="container">
        <h1>Facebook on Rails</h1>
        <p>Welcome to the app!</p>

        <div class="progress">
            <div class="progress-bar" style="width: 40%"></div>
            <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
            <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
            <div class="progress-bar progress-bar-success" style="width: 10%"></div>
            <div class="progress-bar progress-bar-info" style="width: 30%"></div>
        </div> <!-- end progress -->

    </div> <!-- end container -->
</div> <!-- end jumbotrom -->

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h3>This looks good, huh?</h3>
            <br>
        </div> <!-- end col-md-12 --> 

    </div> <!-- end row -->

    <div class="row">

        <div class="col-md-4">
            <h2>Connect with Facebook</h2>
            <p>Signup or login to this app with your Facebook account.</p>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4">
            <h2>Create fun posts</h2>
            <p>Start postin cool content. Max 160 characters Twitter style</p>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4">
            <h2>Share them</h2>
            <p>Share them with your friend in Facebook</p>
        </div> <!-- end col-md-4 -->
    </div> <!-- end row -->

</div> <!-- end container
